.tile-pricing-container {
    color: rgb(69, 68, 68);
    font-family: sans-serif;
    
    .heading {
        text-align: left;
        margin-top: 40px;
        margin-left: 20px;
        font-size: 30px;
    }

    .description {
        font-size: 18px;
        text-align: left;
        margin: 0px 45px 20px 25px;
    }

    .data-table {
        padding: 5px 25px;
    }

    .button-section {
        margin: 40px 25px;
        display: flex;
        align-items: left;
    }
}